@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.flex-div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
  text-align: center;
}

.flex-div > h1 {
  width: 100%;
  text-align: center;
}

.add-item-form {
  width: 100%;
  text-align: center;
}

.shopping-list {
  width: 100%;
  text-align: left;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
  width: 100%;
}
